<app-admin-main></app-admin-main>
<div class="main-container">
  <div class="flex mt-8 w-auto justify-content-center">
    <table class="table w-full">
      <tr>
        <th>Ид</th>
        <th>Имя</th>
        <th>Номер телефона</th>
      </tr>
      @if (phoneConsultation$ | async; as phoneConsultations) {
        @for (phoneCons of phoneConsultations; track phoneCons.id) {
          <tr>
            <td>{{ phoneCons.id }}</td>
            <td>{{ phoneCons.name }}</td>
            <td>{{ phoneCons.phoneNumber }}</td>
          </tr>
        }
      }
    </table>
  </div>
</div>
