<div class="container">
  <div class="main-container justify-content-center">
    <div class="col-12">
      <h1 class="uppercase text-0 flex align-items-center justify-content-center m-8 xl:text-7xl sm:text-xl"><i
        class="pi pi-minus pi-angles-gym-h1 xl:text-7xl sm:text-xl"
        style="padding: 0 5%"></i><span class="text-red-500" style="text-shadow: 1px 1px black">Контакты</span>
        <i class="pi pi-minus pi-angles-gym-h1 xl:text-7xl sm:text-xl"
           style="padding: 0 5%"></i></h1>

      <div class="grid text-0 animation-duration-1000 surface-500"
           style="background-color: #d20a0a; text-shadow: 1px 1px black">
        <div class="card-contacts lg:col-6 sm:col-12 border-2 border-white hover:border-white-alpha-10 p-4">
          <h1 class="uppercase">Наши контакты</h1>
          <div>
            <ul class="list-none p-0 text-xl">
              <li class="pt-2">E-mail: vitgtk&#64;belstu.by</li>
              <li class="pt-2">Тел.: 8(0212)36-17-07</li>
              <li class="pt-2">Факс: 36-17-08</li>
              <li class="pt-2">Режим работы: Пн - Пт 8:00 - 17:00</li>
              <li class="pt-2">Обед: 13:00 - 14:00</li>
              <li class="pt-2">Приёмная комиссия:</li>
              <li class="pt-2">Тел.: 8(0212)36-17-29, 8(029)819-00-62</li>
            </ul>
          </div>
        </div>
        <div class="card-contacts lg:col-6 sm:col-12 border-2 border-white hover:border-white-alpha-10 p-4">
          <h1 class="uppercase">Наш адрес</h1>
          <div>
            <ul class="list-none p-0">
              <li class="pt-2">РЕСПУБЛИКА БЕЛАРУСЬ</li>
              <li class="pt-2">г.Витебск, ул.Гагарина 41, 210017</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="sm:text-xl flex justify-content-center text-0 animation-duration-1000">
        <div>
          <h1 class="uppercase text-center text-0">Ждем вас в тренажерном зале!</h1>
          <h1 class="uppercase text-center text-0">И записывайтесь в бассейн</h1>
        </div>
      </div>
    </div>
  </div>

</div>
<div class="main-container" style="height: 0">
  <div class="gMapBlock z-1 bg-white pt-5" style="border-top: 6px solid red">
    <i class="pl-2 text-red-500 shBlock text-3xl">Тренажерный зал</i>
    <div class="fPart-text grid flex justify-content-around">
      <div class="col-4">
        <div class="surface-100 p-1 flex align-items-center gap-3">
          <i class="pi pi-map-marker text-red-500 text-3xl"></i>
          <span class="uppercase font-light text-2xl">Адрес</span>
        </div>
        <span class="">
          улица Гагарина 41, Витебск, Витебская область 210017
        </span>
      </div>
      <div class="col-6">
        <div class="surface-100 p-1 flex align-items-center gap-3">
          <i class="pi pi-calendar-clock text-red-500 text-3xl"></i>
          <span class="uppercase font-light text-2xl">График</span>
        </div>
        <table class="tb-gMap">
          <tr>
            <td class="">Пн. – Чт.</td>
            <td>16:15-18:30</td>
          </tr>
        </table>
      </div>
    </div>
    <i class="pl-2 pt-5 text-red-500 shBlock text-3xl">Бассейн</i>
    <div class="fPart-text grid flex justify-content-around gap-3">
      <div class="col-4">
        <div class="surface-100 p-1 flex align-items-center gap-3">
          <i class="pi pi-map-marker text-red-500 text-3xl"></i>
          <span class="uppercase font-light text-2xl">Адрес</span>
        </div>
        <span class="">
          улица Гагарина 41, Витебск, Витебская область 210017
        </span>
      </div>
      <div class="col-6">
        <div class="surface-100 p-1 flex align-items-center gap-3">
          <i class="pi pi-calendar-clock text-red-500 text-3xl"></i>
          <span class="uppercase font-light text-2xl">пн-чт</span>
        </div>
        <table class="tb-gMap">
          <tr>
            <td>Пн. – Чт.</td>
            <td>8.00 - 21.00</td>
          </tr>
          <tr>
            <td>Пятница</td>
            <td>8.00 - 20.00</td>
          </tr>
          <tr>
            <td>Суббота</td>
            <td>10.00 – 20.00</td>
          </tr>
          <tr>
            <td>Воскресенье</td>
            <td>10.00 – 19.00</td>
          </tr>
        </table>
      </div>
    </div>
    <div>
      <div class="flex align-items-center gap-3">
        <i class="pi pi-envelope text-red-500 text-2xl p-1"></i>E-mail: vitgtk&#64;belstu.by
      </div>
      <div class="flex align-items-center gap-3">
        <i class="pi pi-phone text-red-500 text-2xl p-1"></i>
        <div class="block">
          <span>Тел.: 8(0212)36-17-07</span><br>
          <span>Факс: 36-17-08</span>
        </div>
      </div>
    </div>
  </div>
</div>
<app-g-maps></app-g-maps>


