<p-toolbar
  styleClass="shadow-4"
  [style]="{'display': 'flex', 'justify-content': 'center', 'background-color': '#19191e', 'border': 0 }">
  <div class="flex flex-wrap align-items-center font-bold text-2xl gap-5">
    <div class="flex justify-content-between gap-5">
      <a class="hover:text-green-500 underline-hover-top-bar text-0" routerLink="">Главная</a>
      <a class="hover:text-green-500 underline-hover-top-bar text-0" routerLink="admin">О нас</a>
      <a class="hover:text-green-500 underline-hover-top-bar text-0" href="#">Тренеры</a>
    </div>
    <div class="mr-5 ml-5">
      <a routerLink="/gym-VitGTK">
        <p-image src="assets/cropped-180-1.png" width="75"></p-image>
      </a>
    </div>
    <div class="flex justify-content-between gap-5">
      <a class="hover:text-green-500 underline-hover-top-bar text-0" href="#">График</a>
      <a class="hover:text-green-500 underline-hover-top-bar text-0" href="#">Цены</a>
      <a class="hover:text-green-500 underline-hover-top-bar text-0" routerLink="aboutUs">Контакты</a>
    </div>
  </div>
</p-toolbar>
