<p-toolbar
  styleClass="shadow-4"
  [style]="{'display': 'flex', 'justify-content': 'center', 'background-color': '#2d2d2d', 'border': 0 }">
  <div class="flex flex-wrap align-items-center font-bold text-3xl gap-5">
    <div class="flex justify-content-between gap-5">
      <a class="underline-hover-top-bar text-0" routerLink="/gym-VitGTK">Главная</a>
      <a class="underline-hover-top-bar text-0" routerLink="">О нас</a>
      <a class="underline-hover-top-bar text-0" href="#">Тренеры</a>
    </div>
    <div class="mr-5 ml-5">
      <a routerLink="/gym-VitGTK">
        <p-image src="assets/cropped-180-1.png" width="75"></p-image>
      </a>
    </div>
    <div class="flex justify-content-between gap-5">
      <a class="underline-hover-top-bar text-0" href="#">График</a>
      <a class="underline-hover-top-bar text-0" href="#">Цены</a>
      <a class="underline-hover-top-bar text-0" href="/aboutUs">Контакты</a>
    </div>
  </div>
</p-toolbar>
