<div class="justify-content-center">
  <div class="bgPhoto-FirstFocus"
       style="background-image: url('assets/swimming-pool/1-12.jpg')">
    <div class="main-container h-full">
      <div class="flex flex-column justify-content-center h-full">
        <div>
          <ul class="firstFocus-ul text-0 text-xl list-none">
            <li class="line-height-1">
              <span class="bg-FirstFocusFonts text-red-500">БАССЕЙН</span><br>
              <span class="bg-FirstFocusFonts text-green-500">ВитГТК</span>
            </li>
            <li class="uppercase">Мы предлагаем гибкие тарифные планы и абонементы,</li>
            <li class="uppercase">позволяющие выбрать наиболее удобный вариант для вас и вашей семьи.</li>
          </ul>
        </div>
        <div>
          <ul class="flex firstFocus-btn gap-4 list-none">
            <li>
              <a routerLink="/register">
                <button class="uppercase shadow-8">Стать членом клуба</button>
              </a>
            </li>
            <li>
              <a href="swimming-pool/#grafik">
                <button class="uppercase shadow-8">График работы</button>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container pb-8">
    <div class="main-container">
      <div class="secondBlock-mainPage bg-white grid">
        <div class="fPart-text col-7">
          <p class="text-2xl"><span class="font-bold">В ТРЕНАЖЕРНОМ ЗАЛЕ ВитГТК В ВИТЕБСКЕ МЫ ПРЕДЛАГАЕМ ТОЛЬКО ЛУЧШЕЕ И ИННОВАЦИОННОЕ ФИТНЕС-ОБОРУДОВАНИЕ</span></p>
          <ul class="text-xl">
            <li><i class="text-red-700">Здоровье и благополучие:</i> Плавание укрепляет сердечно-сосудистую систему, мышцы и суставы, улучшает общее
              самочувствие и настроение.</li>
            <li><i class="text-red-700">Социальная активность:</i> Бассейн – это отличное место для общения и новых знакомств. Здесь вы сможете встретить
              единомышленников и завести новые дружеские отношения.</li>
            <li><i class="text-red-700">Доступные цены и абонементы:</i> Мы предлагаем гибкие тарифные планы и абонементы, позволяющие выбрать наиболее удобный вариант для вас и вашей семьи.</li>
          </ul>
        </div>
        <div class="col-5 flex align-items-center justify-content-center">
          <p-image
            src="assets/swimming-pool/3-13.jpg"
            alt="Image"
            width="350px"
            [preview]="true"/>
        </div>
      </div>
    </div>
    <div class="main-container">
    </div>
  </div>
  <div class="main-container mt-8 surface-50">
    <div class="p-5">
      <i class="uppercase text-7xl">Галерея</i><br>
    </div>
    <div class="grid">
      <div class="col-4 ml-3">
        <p-image
          width="470px"
          height="620px"
          [style]=""
          [preview]="true"
          src="assets/swimming-pool/gallery/2-12.jpg"
        >
        </p-image>
      </div>
      <div class="col-7">
        <div class="grid flex justify-content-between">
          <div class="col-6">
            <p-image
              width="430px"
              height="300px"
              [style]=""
              [preview]="true"
              src="assets/swimming-pool/gallery/4-9.jpg"
            >
            </p-image>
          </div>
          <div class="col-6">
            <p-image
              width="430px"
              height="300px"
              [style]=""
              [preview]="true"
              src="assets/swimming-pool/gallery/6-3.jpg"
            >
            </p-image>
          </div>
          <div class="col-6">
            <p-image
              width="430px"
              height="300px"
              [style]=""
              [preview]="true"
              src="assets/swimming-pool/gallery/7-3.jpg"
            >
            </p-image>
          </div>
          <div class="col-6">
            <p-image
              width="430px"
              height="300px"
              [style]=""
              [preview]="true"
              src="assets/swimming-pool/gallery/9-2.jpg"
            >
            </p-image>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="main-container">
    <table class="table w-full" style="width: 570px" border="1">
      <tbody>
      <tr>
        <td style="text-align: center"><strong>Услуга</strong></td>
        <td style="text-align: center"><strong>Тариф, руб</strong></td>
        <td style="text-align: center"><strong>Тариф с инструктором, руб</strong></td>
      </tr>
      <tr class="menu">
        <td style="text-align: center" colspan="3"><strong>Малая ванна</strong></td>
      </tr>
      <tr class="odd">
        <td style="text-align: center" colspan="3"><strong>Для детей от 7 до 12 лет</strong></td>
      </tr>
      <tr class="even">
        <td>Разовое посещение</td>
        <td>4р 50к</td>
        <td>6р 50к</td>
      </tr>
      <tr class="odd">
        <td>Абонемент (4 раза в мес.)</td>
        <td>15р 0к</td>
        <td>23р 00к</td>
      </tr>
      <tr class="even">
        <td>Абонемент (8 раз в мес.)</td>
        <td>31р 00к</td>
        <td>46р 00к</td>
      </tr>
      <tr class="odd">
        <td>Малая ванна</td>
        <td>38р 0к</td>
        <td></td>
      </tr>
      <tr class="menu">
        <td style="text-align: center" colspan="3"><strong>Большая ванна</strong></td>
      </tr>
      <tr class="odd">
        <td style="text-align: center" colspan="3"><strong>Для взрослых</strong></td>
      </tr>
      <tr class="even">
        <td>Разовое посещение (для взрослых)</td>
        <td>6.50р</td>
        <td></td>
      </tr>
      <tr class="odd">
        <td>Абонемент (4 раза в мес.)</td>
        <td>23р 0к</td>
        <td></td>
      </tr>
      <tr class="even">
        <td>Абонемент (8 раз в мес.)</td>
        <td>45р 0к</td>
        <td></td>
      </tr>
      <tr class="odd">
        <td>Абонемент (12 раз в мес.)</td>
        <td>52р 0к</td>
        <td></td>
      </tr>
      <tr class="even">
        <td>Абонемент (безлимит в мес.)</td>
        <td>65р 0к</td>
        <td></td>
      </tr>
      <tr class="odd">
        <td>Абонемент квартальный (12 занятий)</td>
        <td>60р 0к</td>
        <td></td>
      </tr>
      <tr class="even">
        <td>Абонемент квартальный (24 занятий)</td>
        <td>115р 0к</td>
        <td></td>
      </tr>
      <tr class="odd">
        <td>Абонемент квартальный (36 занятий)</td>
        <td>130р 0к</td>
        <td></td>
      </tr>
      <tr class="even">
        <td>Абонемент квартальный (безлимит)</td>
        <td>150р 0к</td>
        <td></td>
      </tr>
      <tr class="odd">
        <td>Абонемент летний (12 занятий)</td>
        <td>50р 0к</td>
        <td></td>
      </tr>
      <tr class="even">
        <td>Абонемент летний (24 занятий)</td>
        <td>100р 0к</td>
        <td></td>
      </tr>
      <tr class="odd">
        <td>Абонемент летний (36 занятий)</td>
        <td>115р 0к</td>
        <td></td>
      </tr>
      <tr class="even">
        <td>Абонемент летний (безлимит)</td>
        <td>125р 0к</td>
        <td></td>
      </tr>
      <tr class="menu">
        <td style="text-align: center" colspan="3"><strong>Дорожка</strong></td>
      </tr>
      <tr class="odd">
        <td>Дорожка (в час)</td>
        <td>45р 0к</td>
        <td></td>
      </tr>
      <tr class="even">
        <td>Разовое посещение (тренажерный зал + бассейн 1,5 часа)</td>
        <td>45р 0к</td>
        <td></td>
      </tr>
      <tr class="odd">
        <td>Плавательная дорожка в час (для детских учреждений образования и спорта)</td>
        <td>27р 50к</td>
        <td></td>
      </tr>
      <tr class="menu">
        <td style="text-align: center" colspan="3"><strong>Подарочный сертификат<br>
        </strong></td>
      </tr>
      <tr class="odd">
        <td>4 занятия</td>
        <td>24р 0к</td>
        <td></td>
      </tr>
      <tr class="even">
        <td>8 занятий</td>
        <td>48р 0к</td>
        <td></td>
      </tr>
      <tr class="odd">
        <td>12 занятий</td>
        <td>55р 0к</td>
        <td></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="main-container">
    <table class="table w-full" style="width: 570px" border="1">
      <tbody align="center">
      <tr>
        <td colspan="2">Детские группы по обучению плаванию</td>
      </tr>
      <tr>
        <td>Инструктор – методист</td>
        <td>Середа Ольга Сергеевна<br>
          Попков Сергей Михайлович</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="main-container" id="grafik" style="height: 0">
  <div class="gMapBlock z-1 bg-white pt-5" style="border-top: 6px solid red">
    <i class="pl-2 text-red-500 shBlock text-3xl">Тренажерный зал</i>
    <div class="fPart-text grid flex justify-content-around">
      <div class="col-4">
        <div class="surface-100 p-1 flex align-items-center gap-3">
          <i class="pi pi-map-marker text-red-500 text-3xl"></i>
          <span class="uppercase font-light text-2xl">Адрес</span>
        </div>
        <span class="">
          улица Гагарина 41, Витебск, Витебская область 210017
        </span>
      </div>
      <div class="col-6">
        <div class="surface-100 p-1 flex align-items-center gap-3">
          <i class="pi pi-calendar-clock text-red-500 text-3xl"></i>
          <span class="uppercase font-light text-2xl">График</span>
        </div>
        <table class="tb-gMap">
          <tr>
            <td class="">Пн. – Чт.</td>
            <td>16:15-18:30</td>
          </tr>
        </table>
      </div>
    </div>
    <i class="pl-2 pt-5 text-red-500 shBlock text-3xl">Бассейн</i>
    <div class="fPart-text grid flex justify-content-around gap-3">
      <div class="col-4">
        <div class="surface-100 p-1 flex align-items-center gap-3">
          <i class="pi pi-map-marker text-red-500 text-3xl"></i>
          <span class="uppercase font-light text-2xl">Адрес</span>
        </div>
        <span class="">
          улица Гагарина 41, Витебск, Витебская область 210017
        </span>
      </div>
      <div class="col-6">
        <div class="surface-100 p-1 flex align-items-center gap-3">
          <i class="pi pi-calendar-clock text-red-500 text-3xl"></i>
          <span class="uppercase font-light text-2xl">пн-чт</span>
        </div>
        <table class="tb-gMap">
          <tr>
            <td>Пн. – Чт.</td>
            <td>8.00 - 21.00</td>
          </tr>
          <tr>
            <td>Пятница</td>
            <td>8.00 - 20.00</td>
          </tr>
          <tr>
            <td>Суббота</td>
            <td>10.00 – 20.00</td>
          </tr>
          <tr>
            <td>Воскресенье</td>
            <td>10.00 – 19.00</td>
          </tr>
        </table>
      </div>
    </div>
    <div>
      <div class="flex align-items-center gap-3">
        <i class="pi pi-envelope text-red-500 text-2xl p-1"></i>E-mail: vitgtk&#64;belstu.by
      </div>
      <div class="flex align-items-center gap-3">
        <i class="pi pi-phone text-red-500 text-2xl p-1"></i>
        <div class="block">
          <span>Тел.: 8(0212)36-17-07</span><br>
          <span>Факс: 36-17-08</span>
        </div>
      </div>
    </div>
  </div>
</div>
<app-g-maps></app-g-maps>
