<div class="main-container">
  <div class="flex justify-content-between mt-8">
    <div class="flex gap-3">
      <div>
        <a routerLink="/admin" class="flex justify-content-center">
          <button class="btn">Список пользователей</button>
        </a>
      </div>
      <div>
        <a routerLink="/phoneCons" class="flex justify-content-center">
          <button class="btn">Записи на консультацию</button>
        </a>
      </div>
    </div>
    <div>
      <a routerLink="saveUser" class="flex justify-content-center">
        <button class="btn">Создать пользователя</button>
      </a>
    </div>
  </div>
<!--  <div>-->
<!--    <app-user-list></app-user-list>-->
<!--  </div>-->
</div>
