<div class="main-container">
  <div class="flex justify-content-between mt-8">
    <div class="flex gap-3">
      <div>
        <a routerLink="/admin" class="flex justify-content-center">
          <button class="btn">Список пользователей</button>
        </a>
      </div>
      <div>
        <a routerLink="/phoneCons" class="flex justify-content-center">
          <button class="btn">Записи на консультацию</button>
        </a>
      </div>
      <div>
        <a routerLink="/admin/coaches" class="flex justify-content-center">
          <button class="btn">Список тренеров</button>
        </a>
      </div>
    </div>
    <div>
      <a routerLink="/admin/coaches/createCoach" class="flex justify-content-center">
        <button class="btn">Создать тренера</button>
      </a>
    </div>
  </div>
</div>
<div class="main-container">
  <div class="flex mt-8 w-auto justify-content-center">
    <p-table
      #dt1
      [value]="coach$"
      dataKey="id"
      [rows]="10"
      [rowsPerPageOptions]="[10, 25, 50]"
      [paginator]="true"
      [globalFilterFields]="['name', 'phoneNumber', 'description', 'email', 'specialization']"
      [tableStyle]="{ 'min-width': '75rem' }"
      class="table w-full">
      <ng-template pTemplate="caption">
        <div class="flex">
          <span class="p-input-icon-left ml-auto">
                <i class="pi pi-search"></i>
                <input pInputText type="text" [(ngModel)]="searchValue"
                       (input)="dt1.filterGlobal($any($event.target).value, 'contains')" placeholder="Search keyword"/>
            </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>Ид</th>
          <th>Имя</th>
          <th>Номер телефона</th>
          <th>Электронная почта</th>
          <th>Описание</th>
          <th>Место работы</th>
          <th>Специальность</th>
          <th>Фото</th>
          <th>Действие</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-coach>
        <tr>
          <td>{{ coach.id }}</td>
          <td>{{ coach.name }}</td>
          <td>{{ coach.phoneNumber }}</td>
          <td>{{ coach.email }}</td>
          <td>{{ coach.description }}</td>
          <td>{{ coach.place }}</td>
          <td>{{ coach.specialization }}</td>
          <td class="text-center"><p-image
            src="http://localhost:8080/photo/{{ coach.photoUrl }}"
            alt="Image"
            height="100px"
            width="150px"
            [preview]="true"/></td>

          <td class="flex align-items-center justify-content-center" style="padding: 25% 25%">
            <button class="btnEdit-userList" (click)="editCoach(coach.id)"><i class="pi pi-pen-to-square"></i></button>
            <button class="btnDel-userList" (click)="deleteCoach(coach.id)"><i class="pi pi-trash font-bold"></i></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
