<div class="container pb-8">
  <div class="main-container">
    <div class="grid">
      @for (coach of coaches; track coach.id) {
        <div class="col-3 flex justify-content-center">
          <div class="product-item shadow-8">
            <p-image
              src="http://localhost:8080/photo/{{ coach.photoUrl }}"
              alt="Image"
              height="250px"
              width="350px"
              [preview]="true"/>
            <div class="product-list">
              <h3 class="text-3xl">{{ coach.name }}</h3>
              <i>{{ coach.phoneNumber }}</i><br>
              <i>{{ coach.email }}</i><br>
              <span class="text-2xl">{{ coach.specialization }}</span>
              <span class="price text-3xl">{{ coach.description }}</span>
              <span class="price text-xl">{{ coach.place }}</span>
              <div class="firstFocus-btn">
                <button (click)="showDialog(coach.name)" class="button">Записаться</button>
              </div>
              <p-dialog [draggable]="false"
                        [resizable]="false" header="Заполните заявку и мы с вами свяжемся!" [modal]="true" [(visible)]="visible"
                        [style]="{ width: '38rem' }">
                <form class="form" [formGroup]="phoneConsultationForm" (submit)="submitForm()">
                  <input formControlName="status" name="status" type="hidden">
                  <label>
                    <input formControlName="coachName" name="coachName" type="hidden">
                  </label>
                  <label>
                    <input formControlName="name" name="name" required="" placeholder="Ваше имя" type="text"
                           class="input my-2">
                  </label>
                  <p-inputMask variant="filled" mask="+375 (99) 999-99-99" [style]="inputStyles"
                               formControlName="phoneNumber"
                               name="phoneNumber" required="" placeholder="+375 (__) ___-__-__" type="text"/>
                  <p-button
                    styleClass="submit my-2 cursor-pointer font-bold text-xl w-full flex justify-content-center bg-red-500"
                    (click)="submitForm()" [disabled]="phoneConsultationForm.invalid">Отправить
                  </p-button>
                  <i><a
                    href="https://astral.ru/upload/iblock/f8f/4b2v4eld5of5dko2w68pb0o3wbne43zi/%D0%9E%D1%84%D0%B5%D1%80%D1%82%D0%B0%20%D0%BD%D0%B0%20%D0%B7%D0%B0%D0%BA%D0%BB%D1%8E%D1%87%D0%B5%D0%BD%D0%B8%D0%B5%20%D1%81%D0%BE%D0%B3%D0%BB%D0%B0%D1%88%D0%B5%D0%BD%D0%B8%D1%8F%20%D0%BE%20%D0%BA%D0%BE%D0%BD%D1%84%D0%B8%D0%B4%D0%B5%D0%BD%D1%86%D0%B8%D0%B0%D0%BB%D1%8C%D0%BD%D0%BE%D1%81%D1%82%D0%B8%20%D0%B8%20%D0%BD%D0%B5%D1%80%D0%B0%D0%B7%D0%B3%D0%BB%D0%B0%D1%88%D0%B5%D0%BD%D0%B8%D0%B8%20%D0%B8%D0%BD%D1%84%D0%BE%D1%80%D0%BC%D0%B0%D1%86%D0%B8%D0%B8%20%D0%BE%D1%82%2026.03.2021.pdf">ОФЕРТА</a>
                    на заключение соглашения о конфиденциальности и неразглашении информации
                  </i>
                </form>
              </p-dialog>
              <p-toast life="20000" [breakpoints]="{ '900px': { width: '90%', right: '15px', left: '15px' } }"/>
            </div>
          </div>
        </div>
      }
    </div>
    <div class="secondBlock-mainPage bg-white grid">
      <div class="fPart-text col-12">
        <p class="text-3xl"><span class="font-bold">Наш тренерский состав</span> - это команда высококвалифицированных
          профессионалов, которые сочетают в себе опыт, знания и страсть к своему делу, чтобы помочь вам достичь
          ваших фитнес-целей и превзойти ваши ожидания как в тренажерном зале, так и в бассейне.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="main-container" id="asd" style="height: 0">
  <div class="gMapBlock z-1 bg-white pt-5" style="border-top: 6px solid red">
    <i class="pl-2 text-red-500 shBlock text-3xl">Тренажерный зал</i>
    <div class="fPart-text grid flex justify-content-around">
      <div class="col-4">
        <div class="surface-100 p-1 flex align-items-center gap-3">
          <i class="pi pi-map-marker text-red-500 text-3xl"></i>
          <span class="uppercase font-light text-2xl">Адрес</span>
        </div>
        <span class="">
          улица Гагарина 41, Витебск, Витебская область 210017
        </span>
      </div>
      <div class="col-6">
        <div class="surface-100 p-1 flex align-items-center gap-3">
          <i class="pi pi-calendar-clock text-red-500 text-3xl"></i>
          <span class="uppercase font-light text-2xl">График</span>
        </div>
        <table class="tb-gMap">
          <tr>
            <td class="">Пн. – Чт.</td>
            <td>16:15-18:30</td>
          </tr>
        </table>
      </div>
    </div>
    <i class="pl-2 pt-5 text-red-500 shBlock text-3xl">Бассейн</i>
    <div class="fPart-text grid flex justify-content-around gap-3">
      <div class="col-4">
        <div class="surface-100 p-1 flex align-items-center gap-3">
          <i class="pi pi-map-marker text-red-500 text-3xl"></i>
          <span class="uppercase font-light text-2xl">Адрес</span>
        </div>
        <span class="">
          улица Гагарина 41, Витебск, Витебская область 210017
        </span>
      </div>
      <div class="col-6">
        <div class="surface-100 p-1 flex align-items-center gap-3">
          <i class="pi pi-calendar-clock text-red-500 text-3xl"></i>
          <span class="uppercase font-light text-2xl">пн-чт</span>
        </div>
        <table class="tb-gMap">
          <tr>
            <td>Пн. – Чт.</td>
            <td>8.00 - 21.00</td>
          </tr>
          <tr>
            <td>Пятница</td>
            <td>8.00 - 20.00</td>
          </tr>
          <tr>
            <td>Суббота</td>
            <td>10.00 – 20.00</td>
          </tr>
          <tr>
            <td>Воскресенье</td>
            <td>10.00 – 19.00</td>
          </tr>
        </table>
      </div>
    </div>
    <div>
      <div class="flex align-items-center gap-3">
        <i class="pi pi-envelope text-red-500 text-2xl p-1"></i>E-mail: vitgtk&#64;belstu.by
      </div>
      <div class="flex align-items-center gap-3">
        <i class="pi pi-phone text-red-500 text-2xl p-1"></i>
        <div class="block">
          <span>Тел.: 8(0212)36-17-07</span><br>
          <span>Факс: 36-17-08</span>
        </div>
      </div>
    </div>
  </div>
</div>
<app-g-maps></app-g-maps>
