<div class="container">
  <div class="main-container">
    <div class="grid">
      <div class="col-3 flex justify-content-center">
        <div class="product-item shadow-8">
          <p-image
            src="assets/gallery/truePhotos/coach/trener-zarplata.jpg"
            alt="Image"
            height="250px"
            width="350px"
            [preview]="true"/>
          <div class="product-list">
            <h3 class="text-3xl">Тасиенко Анатолий Алексеевич</h3>
            <span>Педагог доп. образования</span>
            <span class="price text-xl">Тренажерный зал <br> 16:15-18:30 Вт, чт</span>
            <app-modal-coach-phone-cons></app-modal-coach-phone-cons>
          </div>
        </div>
      </div>
      <div class="col-3 flex justify-content-center">
        <div class="product-item shadow-8">
          <p-image
            src="assets/gallery/truePhotos/coach/kulinichi_900x600.jpg"
            alt="Image"
            height="250px"
            width="350px"
            [preview]="true"/>
          <div class="product-list">
            <h3 class="text-3xl">Саников Вячеслав Александрович</h3>
            <span>Педагог доп. образования</span>
            <span class="price text-xl">Тренажерный зал <br> 16:15-18:30 Пн, ср</span>
            <app-modal-coach-phone-cons></app-modal-coach-phone-cons>
          </div>
        </div>
      </div>
      <div class="col-3 flex justify-content-center">
        <div class="product-item shadow-8">
          <p-image
            src="assets/gallery/truePhotos/coach/trenerplavaniebassejn-002.jpg"
            alt="Image"
            height="250px"
            width="350px"
            [preview]="true"/>
          <div class="product-list">
            <h3 class="text-3xl">Попков Сергей Михайлович</h3>
            <span>Инструктор – методист</span>
            <span class="price text-xl">- <br> Бассейн</span>
            <app-modal-coach-phone-cons></app-modal-coach-phone-cons>
          </div>
        </div>
      </div>
      <div class="col-3 flex justify-content-center">
        <div class="product-item shadow-8">
          <p-image
            src="assets/gallery/truePhotos/coach/алла кривицкая.jpg"
            alt="Image"
            height="250px"
            width="350px"
            [preview]="true"/>
          <div class="product-list">
            <h3 class="text-3xl">Середа Ольга Сергеевна</h3>
            <span>Инструктор – методист</span>
            <span class="price text-xl">- <br> Бассейн</span>
            <app-modal-coach-phone-cons></app-modal-coach-phone-cons>
          </div>
        </div>
      </div>
    </div>
    <div class="secondBlock-mainPage bg-white grid">
      <div class="fPart-text col-12">
        <p class="text-3xl"><span class="font-bold">Наш тренерский состав</span> - это команда высококвалифицированных
          профессионалов, которые сочетают в себе опыт, знания и страсть к своему делу, чтобы помочь вам достичь
          ваших фитнес-целей и превзойти ваши ожидания как в тренажерном зале, так и в бассейне.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="main-container" id="asd" style="height: 0">
  <div class="gMapBlock z-1 bg-white pt-5" style="border-top: 6px solid red">
    <i class="pl-2 text-red-500 shBlock text-3xl">Тренажерный зал</i>
    <div class="fPart-text grid flex justify-content-around">
      <div class="col-4">
        <div class="surface-100 p-1 flex align-items-center gap-3">
          <i class="pi pi-map-marker text-red-500 text-3xl"></i>
          <span class="uppercase font-light text-2xl">Адрес</span>
        </div>
        <span class="">
          улица Гагарина 41, Витебск, Витебская область 210017
        </span>
      </div>
      <div class="col-6">
        <div class="surface-100 p-1 flex align-items-center gap-3">
          <i class="pi pi-calendar-clock text-red-500 text-3xl"></i>
          <span class="uppercase font-light text-2xl">График</span>
        </div>
        <table class="tb-gMap">
          <tr>
            <td class="">Пн. – Чт.</td>
            <td>16:15-18:30</td>
          </tr>
        </table>
      </div>
    </div>
    <i class="pl-2 pt-5 text-red-500 shBlock text-3xl">Бассейн</i>
    <div class="fPart-text grid flex justify-content-around gap-3">
      <div class="col-4">
        <div class="surface-100 p-1 flex align-items-center gap-3">
          <i class="pi pi-map-marker text-red-500 text-3xl"></i>
          <span class="uppercase font-light text-2xl">Адрес</span>
        </div>
        <span class="">
          улица Гагарина 41, Витебск, Витебская область 210017
        </span>
      </div>
      <div class="col-6">
        <div class="surface-100 p-1 flex align-items-center gap-3">
          <i class="pi pi-calendar-clock text-red-500 text-3xl"></i>
          <span class="uppercase font-light text-2xl">пн-чт</span>
        </div>
        <table class="tb-gMap">
          <tr>
            <td>Пн. – Чт.</td>
            <td>8.00 - 21.00</td>
          </tr>
          <tr>
            <td>Пятница</td>
            <td>8.00 - 20.00</td>
          </tr>
          <tr>
            <td>Суббота</td>
            <td>10.00 – 20.00</td>
          </tr>
          <tr>
            <td>Воскресенье</td>
            <td>10.00 – 19.00</td>
          </tr>
        </table>
      </div>
    </div>
    <div>
      <div class="flex align-items-center gap-3">
        <i class="pi pi-envelope text-red-500 text-2xl p-1"></i>E-mail: vitgtk&#64;belstu.by
      </div>
      <div class="flex align-items-center gap-3">
        <i class="pi pi-phone text-red-500 text-2xl p-1"></i>
        <div class="block">
          <span>Тел.: 8(0212)36-17-07</span><br>
          <span>Факс: 36-17-08</span>
        </div>
      </div>
    </div>
  </div>
</div>
<app-g-maps></app-g-maps>
