@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');


a {
  text-decoration: none;
}

.footer {
  @media (max-width: 1000px) {
    margin: 0;
  }

  @media (min-width: 1000px) {
    margin: 0 15%;
  }
}

.main-container {
  /*@media (max-width: 450px) {*/
  /*  margin: 0;*/
  /*}*/

  @media (min-width: 450px) {
    margin: 0 10%;
  }
}

.card-contacts {
  @media (max-width: 450px) {
    width: 100%;
    margin: 0 5%;
  }
}

html, body {
  height: 100%;
  @media (max-width: 1900px) {
    width: 1900px;
  }
}

body {
  margin: 0;
  background-color: #e7e7e7;
  font-family: "Russo One", sans-serif;
  font-weight: 400;
  font-style: normal;
  overflow-x: hidden;
}

.btn {
  position: relative;
  font-size: 17px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1em 2.5em;
  display: inline-block;
  border-radius: 6em;
  transition: all .2s;
  border: none;
  font-weight: 500;
  color: white;
  background-color: #ce5555;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
}

.btn::after {
  background-color: #fff;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.container {
  position: relative;
  width: 100%;
  box-shadow: inset 0 0 20px black;
  --s: 200px; /* control the size */
  --c1: #1d1d1d;
  --c2: #4e4f51;
  --c3: #3c3c3c;

  background: repeating-conic-gradient(
    from 30deg,
    #0000 0 120deg,
    var(--c3) 0 180deg
  ) calc(0.5 * var(--s)) calc(0.5 * var(--s) * 0.577),
  repeating-conic-gradient(
    from 30deg,
    var(--c1) 0 60deg,
    var(--c2) 0 120deg,
    var(--c3) 0 180deg
  );
  background-size: var(--s) calc(var(--s) * 0.577);
}

/*.p-tabview-nav {*/
/*  display: block;*/
/*  font-size: 30px;*/
/*}*/

.p-tabview-panels {
  width: 900px;
  display: flex;
  justify-content: center;
}

.p-datatable {
  /*border: 1px solid black;*/
}
